.wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.error {
    position: absolute;
    left: 0;
    top: 100%;
}

.input {
    width: 100%;
    padding: 9px 5px;
    line-height: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
